.containerContact{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.titleContact{
    font-size: 48px;
    font-weight: 600;
}
.containerDateContact{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.dateContact{
    display: flex;
    align-items: center;
    gap: 19px;
}