.containerContact{
    display: flex;
    flex-direction: column;
    width:80%;
}

.logoContact{
    height: 211px;
    width: 254px;
}

.divDisplayContact{
    display: flex;
    gap: 20px;
    
    justify-content: space-between;
}

.titleContact{
    font-size: 48px;
    font-weight: 600;
}
.containerDateContact{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.dateContact{
    display: flex;
    align-items: center;
    gap: 19px;
}

@media (max-width: 992px) {
    .containerContact{
        width: 90%;
    }
    .divDisplayContact{
        gap: 0;
        justify-content: space-between;
    }
    .titleContact{
        font-size: 26px;
    }

    .imgContact{
        width: 24px;
    }

    .logoContact{
        width: 171px;
        height: 142px;
    }

    .dateContact{
        gap: 8px;
    }
    .textoContact{
        font-size: 18px;
    }
  }

@media (max-width: 576px) {
    .titleContact{
        font-size: 20px;
    }
    .textoContact{
        font-size: 13px;
    }
  }

 