.footer{
    width: 100vw;
    height: 400px;
    background: #ACB1D6;
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerFooter{
    display: flex;   
    justify-content: space-around;
}
.rigths{
    text-align: center;
    font-size: 22px;
}