.subtitle{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #ACB1D6;
    margin-bottom: 48px;
}

.btnHome{
    width: 538px;
    height: 60px;
    border: none;
    color: #393646;
    box-shadow: 4px 4px 40px 0px #ACB1D6;
    border-radius: 100px;
    font-weight: 500;
    font-size: 28px;
    cursor: pointer;
    
}
.btnHome:hover{
    background: #ACB1D6;
    color: #fff
}


.contCardsNosotros{
    margin: 70px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.contGlobos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
