.contSobreNosotros{
    display: flex;
    justify-content: center;
    width: 100%;
}

.texto{
    font-size: 22px;
}

.sobreNosotros{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 666px;
}

@media (max-width: 992px) {
    .sobreNosotros{
        width: 80%;
    }

    .texto{
        font-size: 16px;
    }
  }

@media (max-width: 768px) {
    .texto{
        font-size: 14px;
    }
  }


 